<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  Weather
  <ion-searchbar (ionChange)="searchChanged()" [(ngModel)]="city">
  </ion-searchbar>

  <ion-list>
    <ion-item
      *ngFor="let weather of weathers"
      (click)="openDetail(weather, city)"
    >
      <ion-label>
        {{ weather.weather[0].main }}
      </ion-label>
      <ion-label> Date : {{ weather.dt * 1000 | date: "medium" }} </ion-label>

      <ion-label>
        Temp : {{ weather.temp.day - 273.15 | number: "0.2-2" }} &deg;
        C</ion-label
      >
      <ion-thumbnail slot="start">
        <img
          src="https://openweathermap.org/img/wn/{{
            weather.weather[0].icon
          }}@2x.png"
        />
      </ion-thumbnail>
      <!-- <h2>Location : {{ cityname.name }}</h2> -->
    </ion-item>
  </ion-list>
</ion-content>
